body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  background-color: #242424;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
}

aside {
  width: 30%;
  display: flex;
  justify-content: center;
  
}

.filters-container {
  height: 10%;
  display: flex;
  align-items: center;
}

.filters-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.filters-menu-mobile.show {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: rgba(26, 26, 26, .4);
  width: 20vw;
  height: 100%;
  button {
    border: none;
    height: 2vw;
    width: 10vw;
    background-color: #727070;
    border-radius: 3px;
  }
}

.filters-menu-mobile.hide {
  display: none;
}

.info-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vw;
  h1 {
    color: #c6c2c2;
    font-size: 1.5vw;
  }
  h3 {
    font-size: 1.2vw;
    padding: 0;
    color: #c6c2c2;
  }
  div {
    width: 50%;
  }
}

.filter-btn {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #c6c2c2;
  color: #000;
  border-radius: 5px;
  padding: .4vw;
}

.gender-filter, .page-filter {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5vw;
  color: #e2e1e1;
  font-size: 1.2vw;
  select {
    width: 40%;
  }
  div {
    display: flex;
    gap: .4vw;
  }
}

.library-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
}

.library-container main {
  width:100%
}

.library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 2em;
  padding: 0;
  margin: 3vw;
}

.book-card {
  list-style: none;
  user-select: none;
  
  height: 18vw;
  width: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    object-fit: contain;
    height: 15vw;
  }
}

.book-card:hover > img {
  height: 17vw;
  transition: .15s all ease-in-out/* , visibility 0.3s ease */;
}

.book-title {
  user-select: none;
  display: none;
  height: 17vw;
  width: 10vw;
  z-index: 1;
  color: #fff;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  p {
    font-size: 1.7vw;
    font-weight: 700;
  }
}

.book-card.available:hover img {
  opacity: .6;
}
  
.book-card.available:hover .book-title {
  opacity: 1;
  transition: .22s all ease-in;
}

.book-card.not-available {
  opacity: .3;
}

.add-book-btn {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  border-radius: 6px;
  padding: 0;
  border: none;
  height: 3vw;
  width: 8vw;
  font-size:1.5vw;
  background-color: rgba(36, 36, 36, 0.9);
  span {
    font-size: 1.2vw;
    font-weight: 500;
    width: 50%;
  }
}

.add-book-btn:hover {
  color: #000;
  background-color:rgba(255, 255, 255, 0.9);
  transition: .15s all ease;
}

.reading-list {
  height: 98%;
  width: 29%;
  background-color: #333333;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
  margin-top: .3em;
  position: fixed;
  overflow-y:auto;
  ul {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}

.title-reading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

.list-title {
  color: #c6c2c2;
}

.reset-list-btn {
  border: none;
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 100px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2vw;
  font-size: 1.5vw;

}

.reset-list-btn:hover {
  background-color: rgba(123, 117, 117, 0.5);
/*   transition: .1s all ease-in; */
}

.reset-list-btn:active {
  background-color: rgba(123, 117, 117, 0.9);
}



.list-item {
  list-style: none;
  height: 13vw;
  width: 8.7vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    object-fit: contain;
    height: 12vw;
  }
}

.list-item:hover img {
  height: 12.5vw;
  position: absolute;
  transition: .1s all ease;
}

.list-delete-btn {
  display: none;
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  border-radius: 100px;
  top: 0.4vw;
  right: 0.4vw;
}

.list-item:hover .list-delete-btn {
  display: flex;
/*   transition: .15s ease; */
}

.list-delete-btn:hover {
  background-color: rgba(91, 91, 91, 0.5);
}

.list-delete-btn:active {
  background-color: rgba(33, 32, 32, 0.6);
}

@media screen and (max-width: 600px) {
  .reading-list {
    display: none;
  }

  .filter-btn {
    display: flex;
  }
}
